body{
    background-color: rgb(241, 223, 201)
}

.bio{ text-align: center;
    color:rgba(204, 97, 10, 0.849)
    
}

h2 {
    text-align: center;
    color: green;
}

#goat {
    border-radius: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center li strong a{
    text-decoration: none;
}

#ucla{
    font-size: 20px;
    background-color: green;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    color: aqua;
}
